@font-face {
    font-family: "SourceSans";
    src: url('../fonts/SourceSans3-Regular.ttf');
}

@font-face {
    font-family: "Montserrat-Bold";
    src: url('../fonts/Montserrat-Bold.ttf');
}

@font-face {
    font-family: "JetBrainsMono";
    src: url('../fonts/JetBrainsMono-Regular.ttf');
}

@font-face {
    font-family: "EM-Sans";
    src: url('../fonts/New\ Super\ Mario\ Font\ U.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(30, 30, 30);
}

header {
    background: rgb(10, 10, 10);
    padding: 20px 80px;
}

header > a:hover, .learninglink:hover {
    opacity: 80%;
}

header > a {
    text-decoration: none;
    transition: 0.2s;
}

.logo {
    color: white;
    font-family: "EM-Sans";
    font-size: 25px;
}

.learningheader {
    background: rgb(20, 20, 20);
    padding: 100px;
}

.learninghead {
    font-family: "Montserrat-Bold";
    color: white;
    font-size: 40px;
    text-align: center;
}

.container {
    margin: 20px 100px;
}

.learninghead2, .learninghead3 {
    font-family: "Montserrat-Bold";
    color: white;
    font-size: 30px;
    margin-top: 60px;
    text-align: center;
}

.learninghead3 {
    font-size: 20px;
    text-align: left;
    margin: 60px 0px 0px 0px;
}

.learningtext {
    font-family: "SourceSans";
    color: white;
    font-size: 17px;
    margin: 20px 0px;
}

.printnotice {
    margin-top: 10px;
    text-align: center;
    font-family: "SourceSans";
    color: white;
}

.learninglisting {
    margin-left: 50px;
    font-family: "SourceSans";
    color: white;
}

.linkssection {
    margin: 30px 100px;
}

.linkk {
    margin: 10px 0px;
}

.learninglink {
    font-weight: bold;
    font-family: "SourceSans";
    text-decoration: none;
    transition: 0.2s;
    color:#339ae8;
}

.cclicense {
    margin-top: 20px;
}

.centre {
    text-align: center;
}

.imgtxt {
    margin: 50px 0px;
}

.thisisvpn {
    height: 250px;
}

.container > a:hover {
    opacity: 80%;
}

.container > a {
    transition: 0.15s;
}

@media only print {
    .logo, .learninghead, .learninghead2, .learninghead3 {
        color: black;
    }

    .learningtext, .learninglisting {
        color: rgb(70, 70, 70)
    }

    #header {
        display: block;
    }

    .nav_links {
        display: none;
    }

    .logo {
        text-align: right;
    }

    .footsections {
        display: none;
    }

    .learningheader {
        padding: 15px;
    }

    .licenselink {
        display: none;
    }

    .learningtext, .learninghead2, .learninghead3 {
        text-align: left;
    }

    .container {
        margin: 20px 20px;
    }

    .learninghead3 {
        margin-top: 45px;
    }

    .learninghead2 {
        margin-top: 40px;
        font-size: 25px;
    }

    .learninghead {
        font-size: 32px;
    }

    .learningtext {
        font-size: 15px;
    }

    .nottoprint {
        display: none;
    }

    .imgtxt {
        margin: 20px 0px;
    }

    .thisisvpn {
        margin-top: 20px;
        height: 170px;
    }
}