@font-face {
    font-family: "SourceSans";
    src: url('../fonts/SourceSans3-Regular.ttf');
}

@font-face {
    font-family: "Montserrat-Bold";
    src: url('../fonts/Montserrat-Bold.ttf');
}

@font-face {
    font-family: "JetBrainsMono";
    src: url('../fonts/JetBrainsMono-Regular.ttf');
}

@font-face {
    font-family: "EM-Sans";
    src: url('../fonts/New\ Super\ Mario\ Font\ U.ttf');
}

@font-face {
    font-family: "IBM Plex Sans";
    src: url('../fonts/IBMPlexSans-Regular.ttf');
}

@font-face {
    font-family: "IBM Plex Sans";
    src: url('../fonts/IBMPlexSans-Bold.ttf');
    font-weight: bold;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(30, 30, 30);
}

header {
    background: rgb(10, 10, 10);
    padding: 20px 80px;
}

header > a:hover, .learninglink:hover, .learning-redirect-link:hover {
    opacity: 80%;
}

header > a {
    text-decoration: none;
    transition: 0.2s;
}

.logo {
    color: white;
    font-family: "EM-Sans";
    font-size: 25px;
}

.learningheader {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('https://agesoftoss.github.io/src/learningbackground.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px;
}

.learninghead {
    font-family: "Montserrat-Bold";
    color: white;
    font-size: 40px;
    text-align: center;
}

.container {
    margin: 20px 100px;
}

.learninghead2, .learninghead3 {
    font-family: "Montserrat-Bold";
    color: white;
    font-size: 30px;
    margin-top: 60px;
    text-align: center;
}

.learninghead3 {
    font-size: 20px;
    text-align: left;
    margin: 50px 0px 0px 0px;
}

.learningtext {
    font-family: "SourceSans";
    color: white;
    font-size: 17px;
    margin: 20px 0px;
}

.printnotice {
    margin-top: 10px;
    text-align: center;
    font-family: "SourceSans";
    color: white;
}

.learninglisting {
    margin-left: 50px;
    font-family: "SourceSans";
    color: white;
}

.linkssection {
    padding: 0px 80px;
    border-bottom: 1px solid rgb(51, 55, 57);
    padding-bottom: 20px;
    margin: 0px 70px;
}

.theletter {
    color: rgb(160, 152, 139);
    font-size: 32px;
    font-family: "IBM Plex Sans";
    margin: 10px -80px;
}


.linkk {
    margin: 10px 0px;
}

.learninglink, .learning-redirect-link {
    font-family: "IBM Plex Sans";
    color: rgb(36, 144, 254);
    font-size: 16px;
    text-decoration: none;
    transition: 0.2s;
}

.learning-redirect-link {
    font-weight: normal;
}

.cclicense {
    margin-top: 20px;
}

.centre {
    text-align: center;
}

.imgtxt {
    margin: 50px 0px;
}

.thisisvpn {
    height: 250px;
}

.thisisdns {
    height: 320px;
}

.thisisdns-props {
    height: 250px;
}

.thisisdns-steps {
    height: 150px;
}

.thisisosi {
    height: 420px;
}

.container > a:hover {
    opacity: 80%;
}

.container > a {
    transition: 0.15s;
}

.normaltext {
    margin-top: 50px;
    color: white;
    font-family: "SourceSans";
}

.normaltext > a {
    color:#339ae8;
}

@media only print {
    .logo, .learninghead, .learninghead2, .learninghead3 {
        color: black;
    }

    .learningtext, .learninglisting {
        color: rgb(30, 30, 30)
    }

    #header {
        display: block;
        padding: 0;
    }

    .nav_links {
        display: none;
    }

    .logo {
        font-size: 20px;
        text-align: right;
    }

    .footsections {
        display: none;
    }

    .learningheader {
        padding: 10px;
    }

    .licenselink {
        display: none;
    }

    .learningtext, .learninghead2, .learninghead3 {
        font-family: "IBM Plex Sans";
        text-align: left;
    }

    .container {
        margin: 20px 20px;
    }

    .learninghead2 {
        font-size: 30px;
        color: rgb(100, 100, 100)
    }

    .learninghead3 {
        font-size: 25px;
        color: rgb(100, 100, 100)
    }

    .learninghead {
        font-size: 38px;
        font-family: "IBM Plex Sans";
        color: rgb(100, 100, 100)
    }

    .learningtext {
        font-size: 15px;
    }

    .learningtext > b {
        font-family: "IBM Plex Sans" !important;
    }

    .nottoprint {
        display: none;
    }

    .imgtxt {
        margin: 20px 0px;
    }

    .thisisvpn {
        margin-top: 20px;
        height: 170px;
    }

    .thisisosi {
        margin-top: 20px;
        height: 300px;
    }

    .thisisdns, .thisisdns-steps, .thisisdns-props {
        margin-top: 20px;
        height: 230px;
    }

    .thisisdns-props {
        height: 180px;
    }

    .thisisdns-steps {
        height: 130px;
    }
}

@media only screen and (max-width: 500px) {
    header {
        padding: 15px 50px;
    }

    .logo {
        font-size: 22px;
    }

    .linkssection {
        margin: 20px 30px;
    }
    .learningheader {
        padding: 50px;
    }

    .container {
        margin: 20px;
    }

    .learninghead {
        font-size: 30px;
    }

    .learninghead2 {
        font-size: 25px;
    }

    .learninghead3 {
        font-size: 18px;
    }

    .learningtext {
        font-size: 14px;
    }

    .printnotice {
        display: none;
    }

    .learninglisting {
        margin-left: 30px;
        font-size: 14px;
    }

    .normaltext {
        margin: 50px 20px;
        font-size: 14px;
    }

    .thisisvpn {
        margin-top: 20px;
        height: 100px;
    }

    .thisisosi {
        margin-top: 20px;
        height: 150px;
    }

    .thisisdns, .thisisdns-steps, .thisisdns-props {
        margin-top: 20px;
        height: 130px;
    }

    .thisisdns-props {
        height: 100px;
    }

    .thisisdns-steps {
        height: 90px;
    }
    
}